<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MatchMates</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleprincipalv3.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/flavicon1.png') }}">
</head>

<body>
    <div id="main" class="principal2">
        <a href="/" class="bouton bouton_retour">
            <img src="{{ url_for('static', filename='images/fleche-arriere.png') }}" height="30px" width="30px"/>
        </a>
        <center>
            <h1>Trouvez votre mate</h1>
        </center>
        <div class="bloc">
            <ul>
                {% for person in sort_people %}
                <li>
                    {# Choix de l'image selon le rang (exemple) #}
                    {% if loop.index == 1 %}
                        <img src="{{ url_for('static', filename='images/trophee1.png') }}" alt="Trophée Or">
                    {% elif loop.index == 2 %}
                        <img src="{{ url_for('static', filename='images/trophee2.png') }}" alt="Trophée Argent">
                    {% elif loop.index == 3 %}
                        <img src="{{ url_for('static', filename='images/trophee3.png') }}" alt="Trophée Bronze">
                        {% else %}
                        <span>→</span>  {# flèche pour les autres rangs #}
                    {% endif %}
                    <strong>{{ person }}</strong> : {{ sort_number[loop.index0] }}%
                </li>
                <br><br>
                {% endfor %}
            </ul>
        </div>
        <div class="bloc2">
            <div class="circle circle3"></div>
            <div class="circle circle2"></div>
            <div class="circle circle1"></div>
            <div class="dot"></div>
            <div class="ripple"></div>
            <div class="ripple"></div>
            <div class="ripple"></div>
        </div>
    </div>
</body>
